$shadow: rgb(66, 66, 66);
body{
  background-color: whitesmoke;
  height: 100%;
  position: relative;
  margin: 0;
}
body, html {
  overflow-x: hidden;
}

#react-node {
  height: 100%;
}

.container {
  background-color: white;
  margin: 50px auto 0px;
  width: 85%;
  height: 100%;
  text-align: center;
}

.button {
  background-image: linear-gradient(to top right, red 0%, yellow 50%, red 100%);
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  transition: box-shadow .2s ease;
  &:active, &:focus, &:hover{
    box-shadow: inset 1px 1px 2px $shadow;
    box-shadow: none;
  }
}

select {
  width: 60px;
  border-radius: 10px;
  margin: 10px 5px;
  background-color: white;
}

*:focus{
  outline: none;
}

.nav-container {
  position: relative;
  button {
    margin: 10px 5px;
    transition: all .3s;
  }
}

button.left, button.right {
  height: 0px;
  width: 0px;
  background-color: transparent;
  border: 0;
  position: relative;
  top: -3px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

button.left {
  border-left: 15px solid red;
  margin-left: 20px;
  &:active, &:focus, &:hover{
    border-left-color: darken(red, 20%);
  }
}

.pagination {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: radial-gradient(circle at 10px 5px, lightblue 0%, blue 100%);
  border: none;
  transition: box-shadow .5s ease;
  box-shadow: 2px 2px 4px $shadow;
  color: white;
  text-align: center;
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 0;
  &:active, &:focus, &:hover{
    box-shadow: inset 1px 1px 2px $shadow;
    box-shadow: none;
    background-image: radial-gradient(circle at 50% 50%, darken(lightblue, 10%) 0%, blue 100%);
  }
}

.expand-preventer {
  width: 400px;
  vertical-align: top;
  height: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.shift-container {
  display: inline-block;
  text-align: center;
  height: 50px;
  white-space: nowrap;
  position: relative;
  left: 0;
}

button.right {
  border-right: 15px solid red;
  margin-right: 20px;
  &:active, &:focus, &:hover{
    border-right-color: darken(red, 20%);
  }
}

.shift-enter {
  left: 400px;
}

.shift-enter.shift-enter-active {
  left: 0;
}

.shift-leave {
  left: -400px;
}

.shift-leave.shift-leave-active {
  left: -800px;
}

.backwards {
  .shift-enter {
    left: -400px;
  }

  .shift-enter.shift-enter-active {
    left: 0;
  }

  .shift-leave {
    left: -400px;
  }

  .shift-leave.shift-leave-active {
    left: 0;
  }
}


.card {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
  box-shadow: 5px 5px 10px black;
  border-radius: 15px 5px 15px 5px;
  transition: all .5s;
}

.name {
  font-size: 1rem;
  margin: 7px;
  padding: 5px;
  border-radius: 5px 15px 5px 15px;
  box-shadow: inset
  3px 3px blue, inset -3px -3px blue, inset 3px -3px blue, inset -3px 3px blue,
  5px 5px white, inset -5px -5px white, inset 5px -5px white, inset -5px 5px white;
  background-color: black;
  color: white;
  height: 2.8rem;
}

.fade-enter {
  transform: rotateZ(720deg) scale(0);
}

.fade-enter.fade-enter-active {
  transform: rotateZ(0) scale(1);
  // opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-in-leave-active {
  opacity: 0;
}
